.titre1 {
    color: white;
    font-family: "Sekuya", system-ui;
    font-weight: 100;
    font-style: normal;
    font-size: 2em;
    text-align : center;
    background-color: darkgrey;
    background-image: url("C:/Users/HP/Desktop/NOUVEAU_SITE/image/2.jpg");
    padding: 150px;
    background-size: cover;
    background-position: top;
    opacity: 1;
    box-shadow: 0px 0px 10px 5px black;
}

.text1:hover {
    text-shadow: 0px 0px 10px black;
} 

.titre2 {
    font-weight: 700;
    font-style: normal;
    font-size: 2em;
    text-align : left;
}

body {
    color: black;
    background-image: url("C:/Users/HP/Desktop/NOUVEAU_SITE/image/bodybad.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

a:hover {
    color:white;
    font-weight: 700;
    border: 2px solid white;
    padding: 5px;
    background: linear-gradient(to left, #7efff900, #e57eff);
}

a {
    color: white;
    font-weight: 700;
}

h2 {
    font-size: 2em;
    font-style: normal;
    text-align : left;
    font-weight: 700;
}
.paragraph1 {
    font-size: 1.2em;
    font-style: normal;
    text-align: justify;
}
.paragraph2 {
    font-size: 1.2em;
    font-style: normal;
    text-align: justify;
}

.boldList {
    font-style: italic;
    font-weight: 700;
}


.titre1A {
    color: rgba(212, 0, 255, 0.959);
    font-family: "Libertinus Math", system-ui;
    font-weight: 400;
    font-style: normal;
}
.titre3A {
    color: rgb(30, 255, 0);
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
.taille-textA {
    font-size: 35px;
}

